
<div class="col-xs-8 col-md-8 col-md-offset-2">
<% if current_user == @user %>
  <h1>Hello, <%= current_user.username.capitalize%>, </h1>
  <% else %>
  <h1><%= @user.username.capitalize%> To - Do List. </h1>
  <% end %>


<% if current_user == @user %>
<div class='new-item'>
<%= render :partial => 'items/form', :locals =>{:user => @user, :item => Item.new} %>
</div>
<% end %></br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">To-do List <span class="pull-right">(<%= @user.items.count %> Items to complete)</span></h3>
  </div>
  <div class="panel-body">
    <div class='js-items'>

      <% @user.items.each do |item| %>
      <%= render :partial => 'items/item', :locals =>{:user => @user, :item => item } %>
      <% end %>
    </div>
  </div>
</div>

</div>
